# Ambiente virtuale
venv/
__pycache__/
*.pyc

# Config e variabili ambiente
.env
*.env

# File di build / cache
*.log
*.sqlite3

# Cartelle IDE
.vscode/
.idea/


# test code
provacode.py 
provatoken.py

# cartelle audio
prove_audio/
proveale/

varie/documents
varie/Pigi
varie/*.pdf